/* O que é CSS Grid?


    CSS Grid é um sistema de layout bidimensional que nos permite criar grades (grids) para organizar conteúdo em linhas e colunas. É perfeito para estruturar páginas web completas! 

    Grade invisível que ajuda a alinhar e distribuir espaço entre os elementos de uma interface.
*/
/* Container - caixa qie engloba seus elememtos (pai / filho) */


/* Conceitos Básicos
Container: Elemento que contém a grade

Itens: Elementos diretos dentro do container

Linhas (rows): Divisões horizontais

Colunas (columns): Divisões verticais

Células: Espaços entre 4 linhas/colunas

Áreas: Espaços que ocupam múltiplas células */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Passo 01 - Criando uma grade */
/* Padrao coluna */
.containerum {
    /* display: grid; */
    /* Cria uma grade  */

    /* Define o tamanho  e quantidade das colunas */

    /* Colunas Fixas */
    /* grid-template-columns: 200px 200px 200px; */

    /* Colunas Flexiveis  pode ser mesclada com a fixa*/
    /* grid-template-columns: auto auto auto auto; */

    /* Colunas repeat  */
    /* grid-template-columns: 1fr 2fr 1fr 1fr; */
    /* fr - fração do espaço
    /* grid-template-columns: repeat(2, 1fr) repeat(1, 5fr); */
    /* fr - fração do espaço */

    /* Linhas    */
    /*  grid-template-rows: 200px 100px 50px; */

    /* grid-template-rows: minmax(100px, 300px); */
    /* minmax - tamanho minimo e maximo */
    /* grid-template-rows: repeat(2, minmax(100px, 300px)); */
    /* minmax - tamanho minimo e maximo */
    /*  grid-template-rows: repeat(2, 200px); */

    /* Espaçamentos */
    /*  gap: 20px; */
    /* Espaçamento entre os itens da grade */
    /* gap: 10px 20px; */
    /* Espaçamento entre os itens da grade  linhas e colunas*/

    /* row-gap: 30px; */
    /* Espaçamento entre as linhas */
    /* column-gap: 10px; */
    /* Espaçamento entre as colunas */

    /* Alinhamento */
    /* justify-items: stretch; */
    /* Alinhamento horizontal dos itens (start, end, center, stretch) */

    /* align-items: stretch; */
    /* Alinhamento vertical dos itens (start, end, center, stretch) */

    /* justify-content: space-evenly; */
    /* Alinhamento horizontal da grade (start, end, center, stretch, sapce-between, spcace-around) 
    Space-between - distribui o espaço entre os elementos
    Space-around - distribui o espaço ao redor dos elementos
    space-evenly - distribui o espaço de forma igual entre os elementos */

    /* align-content: center; */
    /* Alinhamento vertical da grade (start, end, center, stretch, sapce-between, spcace-around) */
    /* height: 100vh; */

    /* place-items: center center; */
    /* Atalho para alinhar itens (align-items e justify-items) */
    /* place-content: center center; */
    /* Atalho para alinhar a grade (align-content e justify-content) */
}



.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* 3 colunas de tamanho igual */
    grid-template-rows: 100px 100px;
    /* 2 linhas de 100px */
    gap: 10px;
    /* Espaço entre os itens */
}


.item {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}


.item:nth-child(2) {
    grid-column: 1 /3;
    /* Ocupa da linha 1 à 3 */
    grid-row: 1;
    /* Ocupa apenas a linha 1 */
}

.item:nth-child(3) {
    grid-column: 3;
    /* Ocupa apenas a coluna 3 */
    grid-row: 1 / 3;
    /* Ocupa da linha 1 à 3 */
}


.containerarea {
    display: grid;
    grid-template-areas:
        'header header'
        'aside article'
        'section section'
        'footer footer'
    ;
    gap: 10px;
}

   

header{
    grid-area: header;
    background-color: blueviolet;
}

aside{
    grid-area: aside;
    background-color: coral;
}

article{
    grid-area: article;
    background-color: rgb(19, 126, 37);
}


section{
    grid-area: section;
    background-color: rgb(57, 66, 119);
}


footer{
    grid-area: footer;
    background-color: rgb(96, 19, 126);
}




